body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
  text-align: center;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.limitBox {
  width: 100%;
  max-width: 800px !important;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 16px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: content-box;
  margin: auto;
}

.imgBox img {
  width: 100%;
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
  }
